#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#body{
  background-color: whitesmoke;
}

#barracima{
  background-color: rgb(16, 182, 211);
  color: white;
  height: 46px;

}

#login{
  background-color: rgb(224, 189, 112);
  color: #ffffff;
  border-style: inset;
  margin-top: 7px;
}

#cadastro{
  background-color: rgb(152, 238, 137);
  color: #ffffff;
  border-style: inset;
  margin-top: 7px;
}

#rodape{
  background-color: rgb(61, 58, 58);
  color: aliceblue;
  height: 40px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#carrossel{
  width: 200px;
  height: 100px;
  background-color: white;
  border-style: double;
  
}

#carrosseldentro{
  
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btnprox{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btnanr{
  float: left;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cardinho > img{
  width: 200px;
  height: 200px;
}

#cardinho{
  margin-left: 20px;
  border-color: black;
  border-style: double;
  width: 250px;
  height: 300px;
  align-items: center;
  text-align: center;
}

#alugar{
  background-color: rgb(43, 36, 36);
  color: whitesmoke;
  margin-top: 5px;
}

#venda{
  background-color: rgb(245, 234, 212);
  color: black;
  margin-top: 5px;
}

#todoscards{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}