<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id="barracima">
      <ion-col size="2" size-sm>
        <img  src="/assets/icone.jpg" width="70px" height="30px" style="margin-top: 3px;">&nbsp; 
        <b>Agula-imoveis</b>
      </ion-col>
      <ion-col size="4" size-sm>
      <p style="margin-top: 1px;">  <b>Agula-imóveis</b></p>
      </ion-col>
      <ion-col size="3" size-sm>
        <a href="https://accounts.google.com/AddSession/signinchooser?hl=pt-BR&continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F27441%3Fhl%3Dpt-BR&ec=GAlAdQ&flowName=GlifWebSignIn&flowEntry=AddSession">
          <button id="login">login </button></a>
      </ion-col>
      <ion-col size="2" size-sm>
        <a href="https://accounts.google.com/signup/v2/webcreateaccount?continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F27441%3Fhl%3Dpt-BR&hl=pt-BR&biz=false&flowName=GlifWebSignIn&flowEntry=SignUp">
          <button id="cadastro">cadastro </button></a>
      </ion-col>
    </ion-row>

    <br>

    <!--aqui fica o carrossel de imagens-->

    <ion-row>
      <ion-slides>
        <ion-slide>
          <img class="d-block " src="/assets/casa-cidade.jpg" >
        </ion-slide>

        <ion-slide>
          <img class="d-block " src="/assets/casa-campo.jpg" >
        </ion-slide>

        <ion-slide>
          <img class="d-block " src="/assets/casa-no-litoral.jpg" >
        </ion-slide>
      </ion-slides>
    </ion-row>

 <br>

    <!--aqui ficam os cards-->

      <ion-row id="todoscards">
          <ion-card id="cardinho">
            <br>
             <img src="/assets/casa-itapipoca.jpg"><br>
         Rua Eubia Barroso 3153 <br>
             Ceará-Itapipoca <br>
             8 comodos <br>
             disponivel para :
             <a href="https://ce.mgfimoveis.com.br/itapipoca-casa-padrao-centro-venda-ce-itapipoca-277291079"> 
              <button id="venda">venda</button></a>
             <a href="https://ce.mgfimoveis.com.br/itapipoca-casa-padrao-centro-venda-ce-itapipoca-277291079">
               <button id="alugar">alugar</button></a>
          </ion-card>
          <ion-card id="cardinho">
            <br>
             
            
            <img src="/assets/casa-jundiai.jpg"><br>
            Rua Barão de Teffé 497 <br>
             Sao Paulo-Jundiaí <br>
             4 comodos <br>
             disponivel para :
             <a href="https://www.nestoria.com.br/jundiai-mirim/casas/venda"> 
              <button id="venda">venda</button></a>
             <a href="https://www.nestoria.com.br/jundiai-mirim/casas/venda">
               <button id="alugar">alugar</button></a>
          </ion-card>
          <ion-card id="cardinho">
            <br>

            <img src="/assets/casa-pindamonhangaba.jpg"><br>
            Rua São Benedito Centro 194 <br>
             Sao Paulo-Pindamonhangaba <br>
             6 comodos <br>
             disponivel para :
             <a href="https://www.imovelweb.com.br/casas-venda-pindamonhangaba-sp.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE"> 
              <button id="venda">venda</button></a>
             <a href="https://www.imovelweb.com.br/casas-venda-pindamonhangaba-sp.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE">
               <button id="alugar">alugar</button></a>
               
            </ion-card>
           
            <ion-card id="cardinho">
              <br>
              <img src="/assets/casa-bonito.jpg"><br>
            Rua Dona Marta 7832 <br>
             Mato Grosso Do sul-Bonito <br>
             10 comodos <br>
             disponivel para :
             <a href="https://www.imovelweb.com.br/casas-venda-centro-bonito.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE"> 
              <button id="venda">venda</button></a>
             <a href="https://www.imovelweb.com.br/casas-venda-centro-bonito.html?iv_=__iv_p_1_a_7720835226_g_80554043679_w_dsa-140015087069_h_1001741_ii_9074182_d_c_v__n_g_c_587432145988_k__m__l__t__e__r__vi__&gclid=CjwKCAjwo8-SBhAlEiwAopc9W9-eDLyaBI8CQty8uzznA8ReHK5pE64HhJ7j8agHX_WyZYrJ1ClINxoCW6MQAvD_BwE">
               <button id="alugar">alugar</button></a>
  
          </ion-card>
      </ion-row>

      <br>
      <!--rodapé-->

      <ion-row id="rodape">
        <ion-col  size-sm>
          contate-nos no:
        </ion-col>
        <ion-col  size-sm>
          <a href="https://pt-br.facebook.com/enespanol/"><img src="/assets/icone-facebook.png" style="width: 25px;height: 25px;"></a> 
        </ion-col>
        <ion-col size="2" size-sm>
          <a href="https://www.instagram.com/explore/locations/1029624658/pagina-inicial/"> <img src="/assets/icone-instagram.webp" style="width: 25px;
            height: 25px;"></a>
        </ion-col>
        <ion-col size="2" size-sm>
          <a href="https://angusnicneven.com/Terminal_Connect"> <img src="/assets/icone-twiter.png" style="width: 25px;
            height: 25px;"> </a>
         </ion-col>
      </ion-row>

      </ion-grid>
</ion-content>
